<%- include('partials/head')%>

    <body>
        
    <%- include('partials/navbar') %>

    <div class="container">
    <h1>The Home Page <%= 'my site'.toUpperCase() %> </h1> <!-- Outputs the text inside-->
    <!-- Downloaded an extension, to indicate this is JS-->

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione illo iste, corrupti corporis perferendis eveniet reprehenderit dicta voluptas, delectus, architecto adipisci nobis facilis perspiciatis! Laudantium fugit sed magni consequuntur enim!
    Placeat aliquam dignissimos magnam dolore amet, eum distinctio debitis quas quos autem vero numquam excepturi mollitia, aliquid iusto similique veniam quam ullam non reprehenderit iure! Quidem, ea distinctio? Quidem, neque?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ex ab impedit vel quidem provident qui explicabo. Voluptate neque, esse nihil delectus non error sapiente porro temporibus sed, distinctio corrupti!</p>
    </div>

<%- include('partials/footer') %>