<%- include('partials/head') %>
    
    <body>

    <div class="container">
    <h1>Sorry, we couldn't find the <%= query %> search.</h1>
    <h2> <b>~ Results Not Found </b> </h2>
    </div>

<%- include('partials/footer') %>